@import "variables";

.footer {
  background-color: #68a097;
  padding: 30px 0 30px;

  &__social-list-item {
    margin-right: 20px !important;
    width: 60px !important;
    height: 60px !important;
    background-color: #82c8bd !important;
  }

  .facebook {
    &:hover {
      background-color: #4f689e !important;
    }
  }

  .twitter {
    &:hover {
      background-color: #74c7d5 !important;
    }
  }

  .google {
    &:hover {
      background-color: #df5c64 !important;
    }
  }

  .linked-in {
    &:hover {
      background-color: #3e61af !important;
    }
  }
}