@import "variables";

.logo {
  color: $first-color !important;
  font: 400 50px/60px $second-font;

  &:hover {
    color: $second-color!important;
  }
}

.navbar {
  padding-right: 0;
  @media (min-width: 991px) {
    padding-top: 0;
  }
}

.nav {
  border: none;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.nav-item {
  padding: 20px 15px 5px;
  @media (max-width: 991px) {
    padding: 5px 10px 5px 5px;
  }

  &:hover {
    color: $first-color;
    background-color: #74c7d5;
    border-radius: 5px;
  }
}

.nav-link {
  padding: 0;
  color: $first-color;
  font: 400 18px/60px $primari-font;

  &:hover {
    color: $first-color;
  }
}

.menu-container {
  @media (min-width: 992px) {
    max-width: 50%;
  }
  @media (min-width: 1200px) {
    padding-left: 100px;
  }
}

