@import "variables";

.home-page {
  background: url("../img/waves.png") center/cover no-repeat, #2c3e50 url("../img/hp-bg.png") center/cover no-repeat;
  max-height: 1000px;
  min-height: 100vh;
}

.main-header {
  margin-top: 50px !important;
  transform: scale(0.5);
}

.carousel-indicators {
  position: unset;
  margin-top: 50px;
  cursor: pointer;
  @media (min-height: 600px) {
    margin-top: 100px;
  }
  @media (min-height: 750px) {
    margin-top: 200px;
  }
  @media (min-height: 900px) {
    margin-top: 350px;
  }

  .active {
    background-color: $second-color;
  }

  li {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: $first-color;
  }
}

.carousel {
  max-height: 470px;
  margin-top: 50px;
  @media (min-height: 600px) {
    margin-top: 100px;
  }
  @media (min-height: 800px) {
    margin-top: 200px;
  }
}

.carousel-item {
  text-align: center;
}

.carousel-content-wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 30px 0;
  background-color: rgba(255, 255, 255, 0.3);

  .carousel-content-wrapper_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    max-width: 370px;
    color: $second-color;
    font: 300 60px/55px $primari-font;
    text-transform: uppercase;
    text-align: right;

    span {
      text-transform: none;
    }
  }

  h4 {
    color: $second-color;
    font: 400 138px/138px $primari-font-black;
    text-transform: uppercase;
  }
}

.control-icon-size {
  height: 40px;
  width: 40px;
  @media (max-width: 1020px) {
    height: 20px;
    width: 20px;
  }
}