$primari-font: 'Lato', sans-serif;
$primari-font-light: 'Lato Light', sans-serif;
$primari-font-bold: 'Lato Bold', sans-serif;
$primari-font-black: 'Lato Black', sans-serif;
$second-font: 'Damion', cursive;
$first-color: #d4d4d4;
$second-color: #74c7d5;
$services-color: #df5c64;
$about-color: #91778e;
$work-color: #a1ca6c;




