@import "variables";

.work-page {
  background: #81a256 url("../img/work-waves.png") center/cover no-repeat;
  min-height: 100vh;
  padding-bottom: 100px;

  &__logo {
    color: $first-color !important;
    font: 400 50px/60px $second-font;

    &:hover {
      color: $work-color !important;
    }
  }

  &__nav-item {
    &:hover {
      background-color: $work-color;
    }
  }
}

.work {
  text-align: center;

  &__section-header {
    margin-top: 120px;
  }

  &__section-header-paragraph {
    margin: 35px 0 60px;
  }
}

.portfolio {
  padding: 30px 0;
  border-top: 1px solid #94b963;
  border-bottom: 1px solid #94b963;

  .portfolio-header {
    margin-bottom: 0;
    padding: 10px 0;
    color: $first-color;
    font: 700 20px/24px $primari-font;
    text-transform: uppercase;
  }

  .portfolio-list {
    margin-bottom: 0;
  }

  .portfolio-list-item {
    padding: 10px 5px;
    cursor: pointer;
    color: $first-color;
    font: 700 16px/24px $primari-font;

    &:hover {
      background-color: #f5c149;
      border-radius: 10px;
    }
  }
}

.photo-list {
  padding-left: 0;
  .photo-list-item {
    margin-top: 20px;
    padding: 0;
  }

  .photo-wrapper {
    position: relative;
    max-width: 260px;
  }

  .rectangle {
    position: absolute;
    bottom: 0;
    left: 45%;
  }

  .caption-wrapper {
    background-color: #eee;
    text-align: center;
    width: 260px;

    span {
      color: #727272;
      font: 400 14px/50px $primari-font;
      text-transform: uppercase;
    }
  }
}

.hover-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d4d29;
  opacity: 0;
  &:hover {
    opacity: 0.7;
  }
  .hover-item {
    width: 60px;
    height: 60px;
    border: 1px solid $first-color;
    border-radius: 50%;
    cursor: pointer;
    color: $first-color;
    font: 300 48px/58px $primari-font;
    text-transform: uppercase;
  }
}